body{
	text-align: center;
	font-family: sans-serif;
}

p{
	text-align: center;
	padding: 5px;
	font-size: 12px;
}

form{
	text-align: left;
}

label{
	margin-right: 10px;
	font-size: 16px;	
	float: left;
	width: 100px;
	vertical-align: middle;
}

select{
	border-width: 0px;
	box-shadow: 1px 1px 5px 0px #004a4a;
	background-color: #f0f4f4;
	font-weight: bold;
	border-radius: 2px;
	cursor: pointer;
}

button[type="submit"]{
	float: right;
	padding: 10px;
	width: 80px;
	border-width: 0px;
	box-shadow: 1px 1px 5px 0px #004a4a;
	background-color: #f0f4f4;
	font-weight: bold;
	border-radius: 2px;
	cursor: pointer;
}

input[type="text"]{
	padding: 3px;
	width: 300px;
	margin-bottom: 12px;
	border-width: 0px;
	box-shadow: 1px 1px 5px 0px #004a4a;
	border-radius: 2px;
}

#header{
	clear: both;
	height: 80px;
	border-bottom: 2px solid black;
}

#form{
	display: inline-block;
	text-align: left;
	margin-right: 10%;
}

#message{
	text-align: center;
    font-size: 18px;
    padding-top: 15px;
    margin-right: 10%;
    height: 35px;
    clear: both;
}

#footer{
	height: 100px;
	clear: both;
}

.left{
	float: left;
	width: 250px;
	margin-left: 10px;
}

.right{
	float: right;
	margin-right: 130px;
	padding: 20px;
	width: 200px;
}

.center{
	width: 85%;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.product{
	float: left;
	width: 300px;
	height: 210px;
	margin-left: 25px;
	margin-top: 30px;
	border: 2px solid lightgray;
	padding: 6px;
	border-radius: 3px;
	text-align: center;
	line-height:2em;
	overflow: hidden;
	border-width: 0px;
	box-shadow: 1px 1px 5px 0px #004a4a;
}

/* Toggled State */
input[type=checkbox]:checked ~ div{
   color: red;
}

.checkbox{
	float: left;
	cursor: pointer;
}

.hidden{
	display:none;
}